<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ariza.css">
    <link rel="stylesheet" href="style.css">
    <title>Oson Navbat</title>
</head>
<body>

    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                            <p><span>Oson Navbat</span> Saytimizga Xush Kelibsiz</p>
                            <p>Ish vaqti: Dushanbadan-Shanbagacha 8:00 dan 22:00 gacha Kontaktlar : <span>(71) 303-33-33</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="index.html"><img src="" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">Uy<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about-us.html">Biz haqimizda</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="services.html">Xizmatlar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="blog.html">Yangiliklar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Aloqa</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Til</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <div class="lang" style="display: flex;">
                                                    <a class="dropdown-item" style="width: 50%;" href="./index_ru.html">Ru</a>
                                                    <img style="width: 35px; padding: 5px;" src="./img/icons/flag-400.png" alt="">
                                                </div>
                                                <div class="lang" style="display: flex;">
                                                    <a class="dropdown-item" style="width: 50%;" href="#">Uz</a>
                                                    <img style="width: 35px; padding: 5px;" src="./img/icons/flag-400 (1).png" alt="">
                                                </div>
                                                <div class="lang" style="display: flex;">
                                                    <a class="dropdown-item" style="width: 50%;" href="./index_en.html">Eng</a>
                                                    <img style="width: 35px; padding: 5px;" src="./img/icons/Без названия.jpg" alt="">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Appointment Button -->
                                    <a href="sigin-in_uz.html" style="margin: 0px;" class="btn medilife-appoint-btn ml-30 ">Kirish</a>
                                    <div style=" color: white;font-size: 30px; background-color: white; height: 50px; display: inline-block ;">|</div>
                                    <a href="sigin-up_uz.html" style="margin: 0px;" class="btn medilife-appoint-btn ml-30">Ro'yxatdan o'tish</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="divs">
            <div class="wrapper">
                <div class="wrap">
                </div>
                <div class="wrap">
                    <h2>Ariza shakli</h2>
                    <p>Ushbu ariza 2022-05-18 11:49da  QARSHIYEV MASHXUR SHUXRAT O‘G‘LI tomonidan olindi</p>
                </div>
            </div>
            <div class="wrapper1">
                <div class="boxes">
                    <div class="box box1">Ariza raqami</div>
                    <div class="box">45570906</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Xizmat nomi</div>
                    <div class="box">Shifokor qabuliga yozilish</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Sana</div>
                    <div class="box">22.05.2022</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Qabulga borish vaqti </div>
                    <div class="box">11:00</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Shifokorning F.I.Sh</div>
                    <div class="box">Norqulov Zokir Saidqulovich</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Shifokorning kabineti</div>
                    <div class="box">9-xona</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Shifoxona nomi</div>
                    <div class="box">Surxondaryo viloyat Kardiologiya markazi</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Shifoxona manzili</div>
                    <div class="box">Surxondaryo viloyat Termiz shahar Navoiy ko'chasi 21-A uy</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Navbat oluvchining F.I.Sh</div>
                    <div class="box">Qarshiyev Mashxur Shuxrat O‘g‘li</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Navbat oluvchining Telefon raqami</div>
                    <div class="box">998936343106</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Navbat oluvchining Elektron pochta manzili</div>
                    <div class="box">karshievmashkhur@gmail.com</div>
                </div>
                <div class="boxes">
                    <div class="box box1">Tekshirish uchun parol</div>
                    <div class="box">99885</div>
                </div>
            </div>
        </div>

        
    </div>
    <div class="container1">
            <div class="xabar">
                Hurmatli fodalanuvchi, siz belgilangan vaqtda yuqorida manzil bo'yicha ko'rsatilgan shifokorga qabulga kelishingiz mumkin.
                Navbatni tasdiqlash uchun qabulda talon raqami haqida xabar berish lozim.
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>