<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/sign_up.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrap">
            <h3>Ro'yhatdan o'tish</h3>
            <div class="boxs">
                <div class="box">
                    <h4>Ismingiz</h4>
                    <input type="text" placeholder="James">
                </div>
                <div class="box">
                    <h4>Familyangiz</h4>
                    <input type="text" placeholder="Nelson">
                </div>
            </div>
            <div class="boxs">
                <div class="box">
                    <h4>Tug'ulgan sanagiz</h4>
                    <input class="day" type="text" placeholder="kk.oo.yyyy">
                    <!-- <i class="fas fa-calendar-alt"></i> -->
                </div>
                <div class="box">
                    <h4>Jinsingiz</h4>
                    <div class="quti">   
                        <div class="quticha">   
                            <input class="check" type="radio" name="Gender" id=""> 
                            <h5>Erkak</h5>
                        </div>
                        <div class="quticha">
                            <input class="check" type="radio" name="Gender" id=""> 
                            <h5>Ayol</h5>
                        </div>       
                    </div>       
                </div>
            </div>
            <div class="boxs">
                <div class="box">
                    <h4>Email</h4>
                    <input type="email" placeholder="admin@gmail.com">
                </div>
                <div class="box">
                    <h4>Telefon raqamingiz</h4>
                    <input type="number" placeholder="+99871303333">
                </div>
            </div>
            <h4></h4>
            <select name="" id="select">
                <option>Select</option>          
                <option>Toshken</option>
                <option>Andijon</option>
                <option>Namangan</option>
                <option>Farg'ona</option>
                <option>Jizzax</option>
                <option>Sirdaryo</option>
                <option>Samarqand</option>
                <option>Qashqadaryo</option>
                <option>Surxondaryo</option>
                <option>Buxoro</option>
                <option>Navoiy</option>
                <option>Xorazm</option>
                <option>Qoraqalpog'iston</option>
            </select>
            <h4 class="h4">Siz kim sifatida ro'yxatdan o'tmoqchisiz</h4>
            <select name="" id="select">
                <option>Tanlang</option>
                <option>Shifokor sifatida</option>
                <option>Bemor sifatida</option>
            </select>
            <button style="cursor: pointer">Sign Up</button>
            <a class="sign" href="{% url "sign-in_uz/"%}">Or Sign In In With</a>
        </div>
    </div>
</body>
</html>